:root {
  --text-color: #231203;
  --fond-color: #f2f2f2;
  --selection-color: #e48e88;
  --red-color: #da3a35;
  --title-color: #2e1e0c;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--background-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
p,
a {
  color: var(--text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}